{% extends "main.html" %}
{% block estilo %}
<style type="text/css">
#grafico
{
	width: 700px;
	height: 300px;
}
</style>
{% endblock estilo%}
{% block contenido %}
<h2>Detalles del {{ unidad_tiempo }}: {{ periodo }}</h2>
<div class="row">
	
	<div class="span10 hero-unit">
		<h4>Flujo de clientes del día:</h4>
		<div id="grafico"></div>
	</div>
</div>
<div class="row">
	<div class="span5 offset1">
		<table class="table table-bordered table-condensed">
			<tbody>
				<tr>
					<td>Entradas totales:</td>
					<td>{{ datos.entradas_vendidas }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock contenido %}
{% block scripts %}
<script type="text/javascript">
var datos = {{ datos|safe }};
var deriv = [[0,0]];
for (var i = 0; i < datos.length-1; i++)
{
	deriv[i+1] = [i+1, datos[i+1][1] - datos[i][1]];
}
$(function()
{
	$.plot("#grafico", [datos], { xaxis: { mode: "time"}});
});
</script>
{% endblock scripts%}