<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Monitoreo HandBand</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body 
      {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .graph-placeholder
      {
      	height: 14em;
      }
    </style>
    {% block estilo %}
    {% endblock estilo %}
    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/static/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Monitoreo</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="/reportes">Reportes</a></li>
            </ul>
            <img src="/static/logo.jpg" class="pull-right" style="height: 40px;">
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      {% block contenido %}

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="row">
      	<div class="well span4 offset4">
      		<h2>Personas en el recinto: <span id="label-genteActual">0</span></h2>
          <p>Generales en recinto: <span id="label-genteGeneral">0</span></p>
          <p>Cortesías en recinto: <span id="label-genteCortesia">0</span></p>

      	</div>
      </div>
      <div class="row">
        <div class="span12 well">
        	<div><h4>Historia de los últimos 60 minutos</h4></div>
        	<div class="graph-placeholder">
      	  </div>
        </div>
      <div>
      	
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <button class="btn btn-large btn-primary" id="btn-agregar">Entrada</button>
          <button class="btn btn-large btn-warning" id="btn-cortesia">Entrada de cortesía</button>
       </div>
       <div class="span4">
          <button class="btn btn-large btn-danger" id="btn-vaciar">Vaciar recinto</button>
        </div>
        
        <div class="span4">
            Rut:
            <div class="input-append" id="imprime-socio">
              <input type="text" class="input-medium" />
              <button class="btn">Imprimir socio</button>
            </div>
        <div>
          {#
            <table>
              <tr>
                <td></td><td>General</td><td>Cortesía</td><td>Total</td>
              </tr>
              <tr>
                <td><span class="label label-info">Entradas emitidas de hoy: </span></td>
                <td><code id="entradas_hoy">{{cantidades[0]}}</code></td>
                <td><code id="entradasc_hoy">{{cantidades[3]}}</code></td>
                <td><code id="entradast_hoy">{{totales[0]}}</code></td>
              </tr>
              <tr>
                <td><span class="label label-success">Entradas emitidas del mes: </span></td>
                <td><code id="entradas_mes">{{cantidades[1]}}</code></td>
                <td><code id="entradasc_mes">{{cantidades[4]}}</code></td>
                <td><code id="entradast_mes">{{totales[1]}}</code></td>
              </tr>
              <tr>
                <td><span class="label label-inverse">Entradas emitidas totales: </span></td>
                <td><code id="entradas_total">{{cantidades[2]}}</code></td>
                <td><code id="entradasc_total">{{cantidades[5]}}</code></td>
                <td><code id="entradast_total">{{totales[2]}}</code></td>
              </tr>
            </table>
          </div>
        </div>
        #}
        
      </div>

      <hr>

      <footer>
        <p>&copy; Hand Band Chile 2013</p>
      </footer>
      {% endblock contenido %}
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/jquery-1.9.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/flot/jquery.flot.min.js"></script>
    <script src="/static/flot/jquery.flot.time.min.js"></script>

    {% block scripts %}
    <script type="text/javascript">

    var genteActual = 0;
    var genteCortesia = 0;
    var genteGeneral = 0;
    var maxGenteActual = 0;
    var ndatos = 3600;
    var datos = [];
    var hGrafico = null;

    
    function updateGrafico(bdd_data)
    {
    	datos = datos.slice(1);

    	var gentebdd = bdd_data;
    	if (gentebdd != null)
      {
    		genteActual   = gentebdd[0];
        genteCortesia = gentebdd[1];
        genteGeneral  = gentebdd[2];
      }

    	if (genteActual >= maxGenteActual)
    		maxGenteActual = genteActual;
    	datos.push(genteActual);

    	$("#label-genteActual").html(genteActual);
      $("#label-genteCortesia").html(genteCortesia);
      $("#label-genteGeneral").html(genteGeneral);
    	
    	hGrafico = $.plot(".graph-placeholder", [obtPares()], {
    		yaxis:
    		{
    			min: 0,
    			max: maxGenteActual + 2
    		},
    		xaxis:
    		{
    			tickFormatter: function(val, obj)
    			{
    				var segundo = parseInt(val/60);
    				if (val % 5 == 0)
    					return segundo;
    				else
    					return "";
    			}
    		}
    	});
    }
    function checkbdd()
    {
      $.ajax({
        url: "/genteActual",
        success: function(obj)
        {
          updateGrafico(obj.res);
        },
        dataType: "json"
      });
    }

    function add()
    {
    	genteActual++;
    	if (genteActual >= maxGenteActual)
    		maxGenteActual = genteActual;
    }

    function remove()
    {
    	if (genteActual <= 0) return;
    	$.ajax({
    		url: "/emulaSalida",
    		dataType: "json",
    		success: function(obj)
    		{
    			if (obj.res != true)
    				alert("Error: " + obj.error)

    		}
    	});
    }
    function vaciarRegistros()
    {
      if (confirm("¿Está seguro? Solo use esta opción cuando se cierra el local."))
      {
        $.ajax({
          url: "/vaciar",
          dataType: "json",
          success: function(obj)
          {
            if (obj.res != true)
              alert("Error: " + obj.error)
          }
        });
      }
    }

    function obtPares()
    {
    	var res = [];
    	for (var i = 0; i < datos.length; i++)
    		res.push([i, datos[i]]);
    	return res;

    }

    function actualiza_cantidades(obj)
    {
      var e1 = obj.entradas_hoy[0];
      var e2 = obj.entradas_mes[0];
      var e3 = obj.entradas_total[0];
      var c1 = obj.entradas_hoy[1];
      var c2 = obj.entradas_mes[1];
      var c3 = obj.entradas_total[1];
      var t1 = e1+c1;
      var t2 = e2+c2;
      var t3 = e3+c3;
      
      
      $("#entradas_hoy").html(e1);
      $("#entradas_mes").html(e2);
      $("#entradas_total").html(e3);
      $("#entradasc_hoy").html(c1);
      $("#entradasc_mes").html(c2);
      $("#entradasc_total").html(c3);
      $("#entradast_hoy").html(t1);
      $("#entradast_mes").html(t2);
      $("#entradast_total").html(t3);
    }

    function agregarPersona()
    {
      $.ajax({
        url: "/agrega",
        dataType: "json",
        success: function(obj)
        {
          if (obj.res != true)
            alert("Error: " + obj.error)
          actualiza_cantidades(obj);
        }
      });
    }
    function agregarPersonaCortesia()
    {
      $.ajax({
        url: "/agrega",
        type: "get",
        data: { cortesia: true },
        dataType: "json",
        success: function(obj)
        {
          if (obj.res != true)
            alert("Error: " + obj.error)
          actualiza_cantidades(obj);
        }
      });
    }
    function ingresarSocioKey(ev)
    {
      if (ev.which == 13)
        ingresarSocio();
    }
    function ingresarSocio()
    {
        var rut = $("#imprime-socio input").val();
        $.getJSON("/ingresarSocio/", { rut: rut }, function(obj)
        {
          $("#imprime-socio input").val("");
        });
    }
    $(function()
    {
    	for(var i = 0; i < ndatos; i++)
    		datos.push(null);

    	hGrafico = $.plot(".graph-placeholder", [obtPares()]);
    	setInterval("checkbdd()", 1000);

    	// $("#btn-entrada").click(add);
    	$("#btn-salida").click(remove);
      $("#btn-vaciar").click(vaciarRegistros);
      $("#btn-agregar").click(agregarPersona);
      $("#btn-cortesia").click(agregarPersonaCortesia);
      $("#imprime-socio button").click(ingresarSocio);
      $("#imprime-socio input").keydown(ingresarSocioKey);
    });
    </script>
    {% endblock scripts %}
  </body>
</html>
