{% extends "main.html" %}
{% block estilo %}
<link rel="stylesheet" type="text/css" href="/static/datepicker/css/datepicker.css" />
<style type="text/css">
.rowed
{
	display: block;
	margin: 5px;
}
</style>
{% endblock estilo %}
{% block contenido %}
	<div class="row">
		<div class="span4">
			<legend>Reportes diarios</legend>
			<select class="input-small" name="dia" id="d1"></select>
			de
			<select class="input-small" name="mes" id="m1">
				{% for m in range(1,13): %}
				<option value="{{m}}">{{ m|nombremes }}</option>
				{% endfor %}
			</select>
			del
			<input type="text" class="input-small" name="ano" value="2013" id="y1"/>
			<br />
			<button class="btn btn-small btn-info" id="b1">Ver reporte</button>
			<legend>Últimos 10 días</legend>
			{% for i in rdia: %}
			<a class="rowed btn btn-large" href="/reporte/{{i.year}}/{{i.month}}/{{i.day}}">{{i.strftime("%A, %d de %B del %Y")}}</a>
			{% endfor %}
		</div>
		<div class="span4">
			<legend>Reportes mensuales</legend>
			<select class="input-small" name="mes" id="m2">
				{% for m in range(1,13): %}
				<option value="{{m}}">{{ m|nombremes }}</option>
				{% endfor %}
			</select>
			del
			<input type="text" class="input-small" name="ano" value="2013" id="y2"/>
			<br />
			<button class="btn btn-small btn-info" id="b2">Ver reporte</button>
			<legend>Últimos 10 meses</legend>
			{% for i in rmes: %}
			<a class="rowed btn btn-large" href="/reporte/{{i.year}}/{{i.month}}">{{i.strftime("%B del %Y")}}</a>
			{% endfor %}
		</div>
		<div class="span4">
			<legend>Reportes anuales</legend>
			Año: 
			<input type="text" class="input-small" name="ano" value="2013" id="y3"/>
			<br />
			<button class="btn btn-small btn-info" id="b3">Ver reporte</button>
			<legend>Últimos 10 años</legend>
			{% for i in rano: %}
			<a class="rowed btn btn-large" href="/reporte/{{i.year}}">{{i.strftime("%Y")}}</a>
			{% endfor %}
		</div>
	</div>
	<div class="row">
		<div class="span8">
			<legend>Entradas de preventa</legend>
			<form class="form-horizontal" id="event_form">
				<div class="control-group">
					<label class="control-label" for="dp3">Fecha del evento:</label>
					<div class="controls">
						<div class="input-append date" id="dp3" data-date="{{now}}" data-date-format="yyyy-mm-dd">
							<input size="16" type="text" id="efecha"/>
							<span class="add-on"><i class="icon-th"></i></span>
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="enombre">Nombre del evento:</label>
					<div class="controls">
						<input type="text" id="enombre" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="eentradas">Num. de entradas: </label>
					<div class="controls">
						<input type="number" id="eentradas" value="1" />
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<button class="btn btn-large btn-primary" id="bGenerar" type="submit">Generar</button>
					</div>
				</div>
			</form>
		</div>
		<div class="span4">
			<legend>Base de datos de usuarios</legend>
			<button class="btn btn-large btn-info" id="bSync">Sincronizar</button>
		</div>
	</div>
{% endblock contenido %}
{% block scripts %}
<script type="text/javascript" src="/static/datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">
function poblar_select(selector, mes, ano)
{
	$(selector).html("");
	dias = 0;
	switch(mes)
	{
		case 2:
			if (ano % 4 == 0 && (ano % 100 != 0 || ano % 400 == 0))
				dias = 29;
			else
				dias = 28;
			break;
		case 1:
		case 3:
		case 5:
		case 7:
		case 8:
		case 10:
		case 12:
			dias = 31;
			break;
		default:
			dias = 30;
	}
	for (var i = 1; i <= dias; i++)
	{
		$(selector).append("<option value=\""+i+"\">"+i+"</option>");
	}
}
$(function()
{
	$("#m1, #y1").change(function()
	{
		if ($("#y1").val().length > 0 && parseInt($("#y1").val()) > 0)
		{
			var ano = parseInt($("#y1").val());
			var mes = parseInt($("#m1").val());
			poblar_select("#d1", mes, ano);
		}
	});

	$("#b1").click(function()
	{
		var dia = $("#d1").val();
		var mes = $("#m1").val();
		var ano = $("#y1").val();
		if (ano.length == 0)
		{
			alert("Especifique un año.");
			return;
		}
		location.href="/reporte/"+ano+"/"+mes+"/"+dia;
	});
	$("#b2").click(function()
	{
		var mes = $("#m2").val();
		var ano = $("#y2").val();
		if (ano.length == 0)
		{
			alert("Especifique un año.");
			return;
		}
		location.href="/reporte/"+ano+"/"+mes;
	});
	$("#b3").click(function()
	{
		var ano = $("#y3").val();
		if (ano.length == 0)
		{
			alert("Especifique un año.");
			return;
		}
		location.href="/reporte/"+ano;
	});
	$("#m1").change();
	$("#dp3").datepicker();
	$("#event_form").submit(function()
	{
		var nombre = $("#enombre").val();
		var nentradas = $("#eentradas").val();
		var fecha = $("#efecha").val();
		$.ajax({
			url: "/mkevento", 
			type: "post",
			dataType: "json",
			data: {nombre: nombre, nentradas: nentradas, fecha: fecha},
			success: function(data)
			{
				if (data.success == true)
				{
					alert("Impresas "+nentradas+" entradas para el evento '"+nombre+"'. (id: "+data.event_id+")");
				}
			}
		});
		return false;
	});
	$("#bSync").click(function()
	{
		$.getJSON("/syncUserDB", function(obj)
		{
			if (obj.success != true)
			{
				alert("Ocurrió un problema al sincronizar.("+obj.error+")")
			}
			else
			{
				alert("Sincronizados " + obj.usercount + " usuarios.");
			}

		});
	});
});
</script>
{% endblock %}