{% extends "main.html" %}
{% block estilo %}
<style type="text/css">
#grafico
{
	width: 700px;
	height: 300px;
}
</style>
{% endblock estilo%}
{% block contenido %}
<h2>Detalles del {{ unidad_tiempo }}: {{ periodo }}</h2>
<div class="row">
	
	<div class="span10 hero-unit">
		<h4>Ventas del mes:</h4>
		<div class="row">
			<div class="span7">
			<div id="grafico" ></div>
		</div>
			<div class="span3">
				<table class="table table-bordered table-condensed">
					<tbody>
						<tr><td>Entradas generales vendidas:</td><td><span class="badge badge-info">{{datos.entradas_vendidas[0]}}</span></td></tr>
						<tr><td>Entradas cortesía vendidas:</td><td><span class="badge badge-success">{{datos.entradas_vendidas[1]}}</span></td></tr>
						<tr><td>Entradas totales vendidas:</td><td><span class="badge badge-warning">{{datos.entradas_vendidas[0]+datos.entradas_vendidas[1]}}</span></td></tr>
						<tr><td colspan="2">Mejor día: <span class="badge badge-important">{{datos.mejordia.dia}}</span>, con <code>{{datos.mejordia.entradas}}</code> entradas vendidas.</td></tr>

					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock contenido %}
{% block scripts %}
<script type="text/javascript">
var datos = {{ datos.flujos|safe }};
$(function()
{
	$.plot("#grafico", [datos], { xaxis: { mode: "time", timeformat: "%d/%m", minTickSize: [1, "day"]}});
});
</script>
{% endblock scripts%}